.numbers-container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: 0, auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number {
  padding: 10px;
  text-align: center;
  background-color: #ffebcd;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50px;
}
